html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

#my-container {
  background: rgb(153, 137, 137);
  width: 1000px;
  height: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-selection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

.ui.text.container {
  text-align: center;
  height: 300px;
  margin-top: 25px;
}

.selections {
  width: 180px;
  height: 100px;
  font-size: 26px;
  display: flex;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

.selections:hover {
  cursor: pointer;
  background-color: rgb(202, 201, 196);
  border: 1px solid rgb(202, 201, 196);
  border-radius: 25%;
  transform: scale(1.3);
}

.selectors {
  height: 100px;
  vertical-align: middle;
  text-align: center;
  line-height: 100px;
}

.gamemenu {
  position: relative;
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 50%;
}

#rocktext {
  font-family: "Rock Salt", cursive;
  text-align: center;
  margin: auto;
  padding: 0px;
}
#papertext {
  font-family: "Bungee Shade", cursive;
  text-align: center;
  margin: auto;
  padding: 0px;
}
#scissorstext {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  margin: auto;
  padding: 0px;
}

button:focus {
  outline: none;
}

.nwply {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  ) !important;
}
.nwply:hover {
  background-position: right center !important;
}

.rgame {
  background-image: linear-gradient(
    to right,
    #de6262 0%,
    #ffb88c 51%,
    #de6262 100%
  ) !important;
}

.sresult {
  background-image: linear-gradient(
    to right,
    #ded662 0%,
    #ffb88c 51%,
    #ded662 100%
  ) !important;
}

.rgame:hover {
  background-position: right center !important;
}

.vscore {
  background-image: linear-gradient(
    to right,
    #757f9a 0%,
    #d7dde8 51%,
    #757f9a 100%
  ) !important;
}
.vscore:hover {
  background-position: right center !important;
}

#header {
  text-align-last: center;
  margin-top: 130px;
  font-family: "Copse", sans-serif;
  font-size: 2.7rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.selection {
  display: flex;
  align-items: center;
}

#cheat {
  margin-bottom: 0 !important;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left,
.right {
  width: 35%;
  border: 4px dotted rgb(187, 201, 138);
}

div h2,
div h3,
div p {
  text-align: center;
}

.middle {
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.slct {
  margin: 0;
  position: relative;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
}

.result {
  margin: 0;
  position: relative;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#cheathint {
  margin: 0;
  position: relative;
  top: 75%;
  left: 20%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.row {
  margin-top: 20px;
}
